:root {
  /* Colors */

  --yellow: hsl(47, 88%, 63%);
  --gray-500: hsl(0, 0%, 42%);
  --gray-950: hsl(0, 0%, 7%);
  --white: hsl(0, 0%, 100%);

  /* Typography */
  --body-font: 'Figtree', sans-serif;
  
  /* Spacing */
  --spacing-50: 4px;
  --spacing-100: 8px;
  --spacing-150: 12px;
  --sapacing-300: 24px;
}

@font-face {
  font-family: 'Figtree';
  src: url('/assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

html, 
body {
  font-family: var(--body-font);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--yellow);
}

.card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 384px;
  height: 522px;
  background-color: var(--white);
  padding: var(--spacing-300);
  gap: var(--spacing-300);
  border-radius: 20px;
  border: 1px solid var(--gray-950);
  box-shadow:  8px 8px #000000;
}

.blog-image {
  width: 336px;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
}

